/* modal */
.header-container {
  display: none;
  width: 100%;


}

@media (min-width: 350px) {


  .header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;


  }

}

.full-screen {
  margin-left: 10px !important;
}

.full-screen i {
  color: white;
  cursor: pointer;
}

.hide-full-screen {
  opacity: 0;

}

.hide-full-screen i {
  cursor: default;
}

.header-container i {
  background-color: transparent;
  font-size: 1.3rem;
  transition: opacity .2s ease-in-out;
  opacity: .5;
  text-align: right;
}

.header-container i:hover {
  opacity: 1;
}

.header-containers {
  border-radius: 0;
}

.modal p {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .header-container i {

    font-size: 1.6rem;

  }
}

@media (min-width: 1200px) {
  .header-container i {

    font-size: 2rem;

  }
}

@media (min-width: 2500px) {
  .header-container i {
    font-size: 2.3rem;
  }

  .modal p {
    font-size: 1.4rem;
  }

  .modal h2 {
    font-size: 3rem;
  }

  .modal h3 {
    font-size: 2.3rem;
  }

  .modal label,
  .modal button {
    font-size: 1.5rem;
  }

  .modal {
    padding: 3em;
  }
}


.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #dfe7fd;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2rem;
  outline: 0;
  -webkit-box-shadow: 0px 0px 39px 9px #000000;
  box-shadow: 0px 0px 39px 9px #000000;
}

.btn-dark,
.btn-check:focus+.btn-dark,
.btn-dark:focus,
.btn-dark:hover,
.btn-dark:active {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none !important;
}

.btn-check:active+.btn-dark:focus,
.btn-check:checked+.btn-dark:focus,
.btn-dark.active:focus,
.btn-dark:active:focus,
.show>.btn-dark.dropdown-toggle:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: black;
  border-color: black;
}

.form-check-input:focus {
  border-color: black;
  outline: 0;
  box-shadow: 0 0 0 .1rem rgba(0,0,0,.2);
}
.form-check-input {
  width: 10px;
  height: .8em;

}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: .75rem;
  border-top: none;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}