/* qrcode  */
.qr-container {
    max-width: 200px;

}

#full-screen, #modal-btn {
z-index: 100;
}


.qr-container p {
    font-size: 1rem;
    line-height: 18px;
    color: #ffffff;
    margin-right: 10px;
}

@media (min-width: 1700px) {
    .qr-container {
        flex-direction: column;

    }

    .qr-container p {

        margin-right: 0px;
    }
}

/* mobile info link */
.mobile-info-container {
    width: 100%;

}

#mobile-info-link {

    color: #ffffff;
    text-decoration: none;
    border: #ffffff solid 2px;
    padding: 1em;
    font-size: .7rem;

}

canvas {
    width: 200px;
    height: 200px;
}

@media (min-width: 600px) {
    #mobile-info-link {
        font-size: .9rem;
    }
}

@media (min-width: 768px) {
    .qr-container {
        margin-left: 0;
        position: absolute;
        bottom: 0px;
        right: 40px;
    }
}

@media (min-width: 997px) {
    .qr-container {
        right: 60px;
        bottom: -10px
    }
    canvas {
        width: 220px;
        height: 220px;
        margin-bottom: 1rem;
    }
}
@media (min-width: 1500px) {
    .qr-container {
        right: 70px
    }
}
@media (min-width: 1700px) {
    .qr-container {
        right: 30px
    }
    canvas {
        width: 250px;
        height: 250px;
        margin-top: .75rem;
    }
}
@media (min-width: 1900px) {
    .qr-container {
        right: 50px;
        bottom: 0;
    }
}
@media (min-width: 2000px) {
    .qr-container {
        right: 60px;
        bottom: 20;
    }
}

/* #img-qr {
    position: relative;
    bottom: 1rem!important;
    margin-top: 1.3rem;

} */

