body {
  background-image: url(../files/background-img.jpg);
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (min-width: 350px) {
  body {
    overflow-y: hidden;
  }
}

/* footer content */
.footer-content {
  margin-top: 1.3em;
  width: 100%;

}

@media (min-width: 768px) {
  .footer-content {
    margin-top: 0em;
  }
}



.hide-music {
  display: none!important;
}
.hide-qr {
  display: none!important;
}